.padding {
    &--xsmall {
        padding: 5px;
    }

    &--small {
        padding: 10px;
    }

    &--medium {
        padding: 20px;
    }

    &--large {
        padding: 30px;
    }
}

.margin {
    &--xsmall {
        margin: 5px;
    }

    &--small {
        margin: 10px;
    }

    &--medium {
        margin: 20px;
    }

    &--large {
        margin: 30px;
    }
}
