@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h2 class="display-4">Shop Locator Prototype</h2>
    <p>This is a prototype of my shop locator. It was made as a school project on CPH Business</p>
    <p>Find the documentation in my <a href="https://github.com/fuzzypawzz/ShopLocator" target="_blank">GitHub Repository</a></p>
    <p><strong>License: MIT</strong></p>
</div>
