.shop-locator {
    &-container {
        &--left {
            min-width: 380px;
            max-width: 380px;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-shadow: 1px 1px 1px 1px rgba(39,39,39,.28);
            box-shadow: 1px 1px 1px 1px rgba(39,39,39,.28);
            z-index: 1;
        }

        &--right {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }
    }
}
