.shop-locator {
    &-list {
        &-item {

            &:hover {
                cursor: pointer;
                background: #f6f6f6;
            }

            &__address-info {
                display: flex;
                flex-direction: column;
            }
        }

        &-bar {
            border-bottom: 1px solid #f1f1f1;
        }
    }
}
