// Component imports
@import "components/list.scss";
@import "components/list-item.scss";
@import "components/container.scss";

// Helpers
@import "helpers/padding.scss";

// General styles
@import "site.css";

.shop-locator-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 450px;
    height: calc(100vh - 125px);
    max-height: 1400px;
    width: 100%;
    background-color: #fff;
}

// ~