@import url(site.css);
.shop-locator-list {
  border-top: solid #f1f1f1;
  border-width: .5px;
  overflow-x: hidden;
  overflow-y: scroll; }

.shop-locator-list-item:hover {
  cursor: pointer;
  background: #f6f6f6; }

.shop-locator-list-item__address-info {
  display: flex;
  flex-direction: column; }

.shop-locator-list-bar {
  border-bottom: 1px solid #f1f1f1; }

.shop-locator-container--left {
  min-width: 380px;
  max-width: 380px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(39, 39, 39, 0.28);
  box-shadow: 1px 1px 1px 1px rgba(39, 39, 39, 0.28);
  z-index: 1; }

.shop-locator-container--right {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.padding--xsmall {
  padding: 5px; }

.padding--small {
  padding: 10px; }

.padding--medium {
  padding: 20px; }

.padding--large {
  padding: 30px; }
